@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.main2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    background-image: url(./public/images/main1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 90vh;
    position: relative;
    .text {
      display: flex;
      flex-direction: column;
      margin-left: 170px;
      h1 {
        font-size: 45px;
        width: 30%;
        font-weight: 700;

        letter-spacing: 1px;
        text-align: left;
        font-family: "Ubuntu", sans-serif;
        color: white;

        left: 0;

        span {
          color: #ff5a30;
        }
      }
      p {
        font-family: "Ubuntu", sans-serif;
        color: white;
        width: 45%;
        margin-top: 18px;

        left: 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
      .btns {
        margin-top: 25px;

        left: 0;
        display: flex;
        gap: 25px;
        .btn1 {
          padding: 8px 30px;
          color: white;
          background-color: transparent;
          border: 1px solid #fff;
          border-radius: 8px;
          &:hover {
            border: none;
            background-color: #ff5a30;
            color: white;
          }
        }
        .btn2 {
          padding: 8px 30px;
          color: white;
          background-color: transparent;
          border: 1px solid #fff;
          border-radius: 8px;
          &:hover {
            border: none;
            background-color: #ff5a30;
            color: white;
          }
        }
      }
      .numbers {
        display: flex;
        margin-top: 25px;

        bottom: 130px;
        left: 0;
        gap: 20px;

        .box {
          border-bottom: 2px solid rgb(180, 173, 173);
          display: flex;
          align-items: flex-start;
          width: 100px;
          &:hover {
            border-bottom: 2.5px solid #ff5a30;
          }
          h3 {
            font-size: 24px;
            color: white;
          }
        }
      }
    }
    .titles {
      h1 {
        font-family: "Ubuntu", sans-serif;
        font-size: 46px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: center;
        color: #1e212c;
      }
      p {
        font-family: "Ubuntu", sans-serif;

        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #787a80;
        margin-top: 15px;
      }
    }
    .image {
      display: flex;
      position: relative;
      margin-top: 25px;
      :nth-child(2) {
        position: absolute;
        right: 550px;
        top: 220px;
      }
    }
  }